@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

*{
  box-sizing: border-box;
}

body{
  text-align: center;
  margin: 0px;
  font-family: 'Source Serif Pro', serif;
}

.content{
  width: 80%;
  margin: auto;

}

a{
  color: #000;
  text-decoration: none;
}

h1{
  font-size: 40px;
}

h2, h3{
  color: #20c0ab;
  border-bottom: 1px solid #888;
}

h4{
  color: #20c0ab;
  font-size: 22px;
}
/* WARNING: NAV */

nav li{
  display: inline-block;
  width: 33.4%;
  background-color: rgb(2, 37, 62);
  padding: 15px;
  margin: -3px;
  font-size: 25px;
}

nav ul{
  padding: 0px;
  margin: 0px;
}

nav a{
  color: #fff;
}

h1{
  padding: 20px;
  border-bottom: 1px solid #888;
}

/* WARNING: CONTENT */

/* WARNING: NOTICIAS */

.noticias{
  overflow: hidden;
}

.noticia{
  width: 69%;
  float: left;
  margin: 1px;
}

.noticia img{
  width: 100%;
  height: 300px;
}

.noticia2 h2{
    margin: 0px;
    font-size: 20px;
    background-color: #e50a3b;
    width: 50%;
    color: #fff;
    padding: 9px;
}

.noticias p{
  font-weight: bold;
  padding: 10px;
}

.p p{
  margin-top: 100px;
  color: #fff;
  background-color: #101919bf;
  height: 95px;
}

.noticia2{
  width: 30.8%;
  float:left;
}

.noticia2 div{
  margin: 1px;
  height: 240px;
}

.noticias2 p{
  margin-top: 100px;
}

.n1{
  background-image: url("img/img1.jpg");
  background-size: cover;
}

.n2{
  background-size: cover;
  background-image: url("img/img2.jpg");
}

.noticiaSection div{
  width: 24.7%;
  display: inline-block;
  border: solid #eaeaea 1px;
}

.noticiaSection img{
  width: 100%;
  height: 150px;
}

.noti{
  overflow: hidden;
}

.noti div{
  width: 44%;
  float: left;
  margin: 5px 35px;
  text-align: justify;
}


.notidos div{
  width: 32.7%;
}

.notidos img{
  height: 200px;
}

h6{
  padding: 20px;
  font-size: 20px;
  background-color: rgb(2, 37, 62);
  color: #fff;
  margin: 0px;
}

.faq h4 {
    background-color: #20c0ab;
    font-size: 22px;
    color: #fff;
    padding: 13px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.faq p{
  border-radius: 10px;
  background-color: #eaeaeac4;
  width: 80%;
  margin: 10px 120px;
  text-align: justify;
  padding: 10px;
}

.contact{
    width: 15%;
    display: inline-block;
    height: 450px;
}

.contact i{
  margin: 25px;
  content: "\f0c0";
  font-size: 120px;
  color: #02253e;
}
